extends layout

block content
  .header
    p Scripter
  main
    .title
      p Enter the title of your screenplay
      input
    .characters
      p Add characters
      .add        
        i.material-icons.md-48 add_box
    .screenplay
