doctype html
html
  head
    title= 'Scripter'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    script(src="https://use.fontawesome.com/28e62c19f7.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js")
    script(src="javascripts/main.js")    
  body
    block content
