doctype html
html
  head
    title= 'Scripter'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="https://use.fontawesome.com/28e62c19f7.js")
  body
    block content
